<!-- <link rel="stylesheet" href="/css/footer.css"> -->

<footer>
    <nav class="navbar sticky-bottom bg-body-tertiary" id="footer" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">&copy;Codeial 9001:2008</a>
        </div>
    </nav>
    
</footer>