footer{
    margin-top: 5vw;
}

#footer{
    height: 10vh;
    padding: 0;
    margin: -16px 0 0;
}

#footer div{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 4rem;
    letter-spacing: 1px;
}