main {
    height: 100%;
    width: 100%;
    margin-top: 5vh;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

/* #news-feed {
    width: 10%;
    height: 100%;
    padding: 15px;
    padding-left: 0;
    border-right: 1px solid black;
} */

#feed-posts {
    width: 80%;
    height: 100%;
    padding: 15px;
    padding-left: 0px;
}

#freind-list {
    width: 10%;
    height: 100%;
    padding: 15px;
    padding-right: 0;
    border-left: 1px solid #000;
}